<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921987678013-v4du4i34gjg87s99egkhvedr07sp3j6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921987678013-v4du4i34gjg87s99egkhvedr07sp3j6e</string>
	<key>API_KEY</key>
	<string>AIzaSyB2CfhOY9lP1Ty9tJF17yuZ48fDsyxXjOA</string>
	<key>GCM_SENDER_ID</key>
	<string>921987678013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Richmond-Aisabor.Indiewave</string>
	<key>PROJECT_ID</key>
	<string>indiewave-25334</string>
	<key>STORAGE_BUCKET</key>
	<string>indiewave-25334.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:921987678013:ios:677d93d7e586b23d428f54</string>
</dict>
</plist>
